<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> {{selectedItem.title}} </ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <h4 text-center class="description" *ngIf="selectedItem">
        {{selectedItem.description}}
      </h4>
    </ion-row>
    <ion-row>
      <h4 text-center *ngIf="selectedItem">
        Start: {{selectedItem.start.toDate().toString()}}
      </h4>
    </ion-row>
    <ion-row>
      <h4 text-center *ngIf="selectedItem">
        End: {{selectedItem.end.toDate().toString()}}
      </h4>
    </ion-row>
    <ion-row>
      <h4 text-center *ngIf="selectedItem">
        Address: {{selectedItem.address}}
      </h4>
    </ion-row>
    </ion-grid>
    <div #googleMap id="googleMap"></div>
</ion-content>
