<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <h3 text-center *ngIf="selectedItem">
        {{selectedItem.title}}
      </h3>
    </ion-row>
    <ion-row>
      <h4 text-center *ngIf="selectedItem">
        {{selectedItem.description}}
      </h4>
    </ion-row>
    <ion-row>
      <h4 text-center *ngIf="selectedItem">
        Start date: {{selectedItem.startdate}}
      </h4>
    </ion-row>
    <ion-row>
      <h4 text-center *ngIf="selectedItem">
        Start time: {{selectedItem.starttime}}
      </h4>
    </ion-row>
    </ion-grid>
    <div #googleMap id="googleMap"></div>
</ion-content>
